@media screen and (max-width:280px){
    body{
        margin:1em;
    }
    h1{
        font-size:0.9em;
        text-align:center;
    }

    h2{
        font-size:0.8em;
        text-align:center;

    }

    img{
        max-width:100%;
        margin:0.5em;
    }

    figcaption{
        text-align:center;
        font-size:0.9em;
    }

    p{
        font-size:0.9em;
        text-align:justify;

    }
}

@media screen and (min-width:410px) and (max-width:767px){
    p{
        font-size:1em;
        text-align:justify;
    }
    
    figure{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        width:100%;
    }

    figurecaption{
        margin:0.5em;
    }

    img{
        width:80%;

    }
}

@media screen and (min-width:768px){
    body{
        font-size:16px;
        background-color:#CECECE;
        margin:2em;
    }
    .figure-container{
        display:flex;
        flex-wrap:wrap;
        margin:auto;
    }
    
    h1 {
        font-size:2em;
    }
    
    h2 {
        font-size:1em;
    }
    
    p{
        font-size:1em;
        text-align:justify;
    }

    img {
        max-width: 100%;
    }
    
    figure {
        margin: 0.5em auto;
        width:40%;
    }

    figcaption{
        text-align:center;
        margin:0.5em;
    }
}