* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: 'Shawdows Into Light';
  font-weight: 100;
}

nav ul {
  list-style-type: none;
  background: transparent;
  padding: 0.5em;
  width: 100%;
  margin-bottom: 2em;
}

nav ul li {
  display: inline-block;
  color: black;
  font-weight: 600;
  text-align: center;
  margin-left: 2.7em;
}

header {
  border-bottom: 1px solid black;
  width: 80%;
  margin: auto;
}

header h1 {
  text-align: center;
}

header p {
  font-family: 'Open sans';
  font-weight: 100;
  text-align: center;
  margin: 2em;
}

.main-container {
  width: 80%;
  margin: auto;
}

.content {
  padding: 2em;
  margin-top: 2em;
  width: 47.7%;
}

.content p {
  margin: 1.5em 0;
  text-align: justify;
}

.left {
  float: left;
  margin-right: 2em;
}

.right {
  float: right;
  margin-left: 1em;
}

footer {
  clear: both;
  width: 80%;
  margin: 2em auto;
  padding: 2em;
}

footer p {
  margin-bottom: 1em;
  text-align: center;
}