body
{
    font-size:16px;
}
h1
{
    font-size:65px;
    color:orange;
    font-family:sans-serif;
    text-align:center;
}

p
{
    font-weight:600;
    font-size:3em;
    font-style:oblique;
    text-align:center;
    color:#FFF;
}

ul
{
    background-color:rgb(230, 187, 176);
}

.background-changed
{
    background-color:rgb(100, 48, 148);
}

li
{
    line-height:30px;
    text-decoration:underline;
    font-weight:bolder;
    padding:2px;
}

#yellow-highlight
{
    background-color:yellow;
}

#red-highlight
{
    background-color:red;
}

#brown-highlight
{
    background-color:brown;
}

ul
{
    list-style:none;
    padding:0;
}